#content {
    border-radius: 0px 0px 15px 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
    font-size: 30px;
}

button[type='submit'] {
    margin-top: 15px;
}

h3 {
    margin-top: 0px;
    margin-left: 25px;
    padding-top: 10px;
}

.navbar {
    margin-bottom: 0px;
}

#error,
.new-comment-box,
.hide-comments,
.comment-box {
    display: none;
}

.blog-subject {
    margin-bottom: 5px;
}

.blog-date {
    margin-top: 25px;
}

.blog-star {
    margin-top: 25px;
}

.blog-date > h4 {
    margin-bottom: 5px;
}

.blog-divider {
    border-bottom: 3px solid;
    margin-top: 0px;
    margin-bottom: 5px;
}

.blog-content {
    white-space: pre-wrap;
    font-size: 18px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    text-align: center;
}

.navbar-right {
    margin-right: 5px;
}

.offset-left {
    margin-left: 15px;
}

#newCommentBox {
    width: 50%;
}

#comment_content, #comment_title {
    width: 100%;
}

#comment_box {
    margin-left: 10px;
}

.individual-comments {
    border-bottom: 1px solid #d3d3d3;
}

