<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <title>Multi-User Blog</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <a class="navbar-brand" href="/blog">Multi-User Blog</a>
        </div>
        <ul class="nav navbar-nav navbar-left">
          {% if user %}
            <li><a href="/blog/newpost">Post</a></li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user %}
            <li><p class="navbar-text">Signed in as {{user.username}}</p></li>
            <li><a href="/blog/starred">Starred Posts</a></li>
            <li><a href="/logout">Logout</a></li>
          {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          {% endif %}
        </ul>
    </nav>

    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
    <div id="error" class="alert alert-danger" role="alert">
      {{error}}
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/static/modifications.js"></script>
</body>

</html>

