{% extends "base.html" %}

{% block content %}
    {% if blog_posts %}
        {% for post in blog_posts %}
            <div class="post">
                {% include "individual_blog_post.html" %}
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <hr class="blog-divider">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="pull-right">
                            <button class="btn btn-primary show-comments">Show {{comments[loop.index0]|length}} comments</button>
                            <button class="btn btn-primary hide-comments">Hide {{comments[loop.index0]|length}} comments</button>
                        </div>
                    </div>
                </div>
                {% include "comment_box.html" %}
                <div class="offset-left">
                {% if user_id  %}
                    <div class="row new-comment-box">
                        <div class="well well-sm">
                            <form action="/blog/newcomment/{{post.key().id()}}" method="post">
                                <div class="form-group">
                                    <textarea id="comment_content" name="comment_content" placeholder="Content" rows=5 required>{{comment_content}}</textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit Comment</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <button class="btn btn-primary show-new-comment-form">Comment</button>
                        {% if user_id == post.user_id %}
                        <a class="btn btn-primary" href="/blog/edit/{{post.key().id()}}" role="button">Edit Post</a>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete Post</button>
                        {% endif %}
                    </div>
                    {% if user_id == post.user_id %}
                        {% include "delete_modal.html" %}
                    {% endif %}
                {% endif %}
                </div>
            </div>
        {% endfor %}
        
    {% endif %}
{% endblock %}
