{% extends "base.html" %}

{% block content %}
<h3 class="text-left">
    Create A New Blog Post
</h3>
<div class="well well-lg">
    <form method="post">
        <div class="form-group">
            <label for="subject">Subject</label>
            <input class="form-control" id="subject" name="subject" value="{{subject}}">
        </div>
        <div class="form-group">
            <label for="content">Content</label>        
            <textarea class="form-control" id="content" name="content" rows="15" >{{content}}</textarea>
        </textarea>
        {% if blog_id %}
            <a class="btn btn-primary" href="/blog/{{blog_id}}" role="button">Cancel</a>
        {% endif %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}